<!-- view/partials/head.ejs -->
<meta charset="UTF-8">
<title><%= title %> - Microblog</title>
<link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
<link rel="stylesheet" href="/stylesheets/style.css"/>
<style type="text/css">
    body{
        padding-top:60px;
        padding-bottom: 40px;
    }
</style>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
