<% if (posts.length != 0 ) { %>
<% posts.forEach(function(post, index){
    if(index % 3 == 0){ %>
    <div class="row">
<% } %>
<div class="col-lg-4 col-sm-4">
<h2><a href="/u/<%= post.user %>"><%= post.user %></a>说</h2>
    <p><small><%= post.time.getFullYear()+"/"+post.time.getMonth()+"/"+post.time.getDay() %></small></p>
    <p><%= post.post %></p>
</div>
<% if( index % 3 ==2 )  { %>
</div>
<% } %>
<% })%>
<% if (posts.length % 3 != 0) { %>
</div>
<% } %>
<% } %>