<form action="/post" method="post"  class="well form-horizontal center" style="text-align:center;">
    <div class="row">
        <div class="col-lg-8 col-sm-8 col-md-8">
        <input type="text" class="form-control" name="post"/>
        </div>
        <div class="col-lg-4 col-sm-8 col-md-4">
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-comment"></i>发言</button>
        </div>
    </div>


</form>